$pc : 1920px;
$laptop : 1440px;
$tablets : 768px;
$phone : 340px;
$L-phone : 540px;


header {

    nav {
        width: 100%;
        height: 80px;
        color: white;
        // border: 1px solid red;

        .nav-div {
            margin: auto;
            // border: 1px solid rgb(213, 131, 131);
            display: flex;
            justify-content: space-between;
            width: 80%;

            a {

                img {
                    margin: 20px 0px 24px 0px;
                    width: 80px;
                    height: 40px;
                    margin-left: 40px;

                }
            }

            .burger {
                margin: 24px 0px 24px 0px;
                width: 30px;
                height: 30px;
                // border: 1px solid rgb(213, 131, 131);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                cursor: pointer;
            }
        }
    }

    // nav-end
    .nav-bar-menu {
        z-index: 3;
        position: absolute;
        top: 0px;
        height: 100%;
        background-color: rgb(4, 4, 4);
        transition: all 1s;
        opacity: 95%;

        svg {
            color: rgb(255, 255, 255);
            position: relative;
            left: 230px;
            top: 30px;
            cursor: pointer;

        }

        .content {
            width: 40%;
            margin: 100px auto 0px auto;
            // border: 1px solid rgb(213, 131, 131);

            a {
                color: rgb(175, 175, 175);
                display: block;
                text-decoration: none;
                text-align: center;
                font-size: x-large;
            }
        }
    }

    .blur {
        z-index: 2;
        background-color: black;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 80%;


    }

    // header-end
}



// main
main {
    .firts-section {
        background-color: rgb(0, 156, 153);
        height: 1900px;
        width: 100%;

        @media all and (max-width:1251px) {
            height: 2000px;


        }

        @media all and (max-width:637px) {
            height: 2100px;

        }

        @media all and (max-width:400px) {
            height: 2400px;

        }

        @media all and (max-width:320px) {
            height: 2550px;

        }

        img {
            width: 100%;
            height: 990px;

            @media all and (max-width:1097px) {
                height: 40%;

            }

            @media all and (max-width:823px) {
                height: 25%;

            }

            @media all and (max-width:620px) {
                height: 20%;

            }

            @media all and (min-width:220px) {
                object-fit: cover;

            }
        }

        .card-div {
            display: flex;
            position: relative;
            top: -150px;
            width: 1250px;
            margin: auto;
            justify-content: space-between;
            flex-wrap: wrap;

            @media all and (max-width:1251px) {
                width: 1100px;

            }

            @media all and (max-width:1097px) {
                width: 820px;

            }

            @media all and (max-width:823px) {
                width: 620px;


            }

            @media all and (max-width:620px) {
                width: 400px;
            }

            @media all and (max-width:400px) {
                width: fit-content;
                

            }

            .card {
                display: inline-block;
                height: 350px;
                border-radius: 20px;
                padding: 30px;
                width: 304px;

                @media all and (max-width:1251px) {
                    width: 250px;
                    height: 400px;

                }

                @media all and (max-width:1097px) {
                    width: 400px;
                    margin-top: 10px;
                    height: 300px;

                }

                @media all and (max-width:823px) {
                    width: 300px;
                    height: 350px;

                }

                @media all and (max-width:620px) {
                    width: 400px;
                    height: 270px;

                }

                @media all and (max-width:400px) {
                    width: 95%;
                    height: 300px;
                    margin: 5px auto 0px auto;
                    padding-bottom: 10px;
                }


                .card-body {
                    h5 {
                        font-weight: bolder;
                    }

                    i {
                        font-size: 19px;
                    }
                }
            }

        }

        .text {
            width: 100%;
            height: 400px;
            text-align: center;

            @media all and (max-width:823px) {
                width: 600px;
                margin: auto;
            }

            @media all and (max-width:620px) {
                width: 400px;
                margin: auto;
            }

            @media all and (max-width:400px) {
                width: 95%;
                height: fit-content;

            }

            p {
                color: white;
                font-size: 20px;
            }
            
            h1 {
                color: white;
                margin-top: 100px;
            }
        }

    }

    .second-section {
        width: 100%;
        height: 400px;
        background-color: rgb(229, 229, 229);
        position: relative;

        @media all and (max-width:1059px) {
            height: 1000px;

        }

        @media all and (max-width:823px) {
            height: 1600px;
        }

        @media all and (max-width:423px) {
            height: 1800px;
        }

        @media all and (max-width:223px) {
            height: 2000px;
        }

        .move {

            // border: 1px solid blue;
            position: relative;
            top: -150px;
            display: flex;
            margin: auto;
            width: 1250px;
            flex-wrap: wrap;
            justify-content: space-around;

            @media all and (max-width:1251px) {
                width: 1060px;

            }

            @media all and (max-width:1059px) {
                width: 810px;

            }

            @media all and (max-width:823px) {
                width: 560px;

            }

            @media all and (max-width:563px) {
                width: 400px;

            }

            @media all and (max-width:400px) {
                width: fit-content;

            }

            .card {
                height: 520px;
                border-radius: 20px;
                width: 400px;

                @media all and (max-width:1251px) {
                    width: 350px;

                }

                @media all and (max-width:1059px) {
                    width: 350px;
                    margin-top: 10px;

                }

                @media all and (max-width:823px) {
                    width: 550px;
                }

                @media all and (max-width:563px) {
                    width: 400px;
                    height: 560px;
                }

                @media all and (max-width:400px) {
                    width: 90%;
                    height: fit-content;
                   

                }

                .card-body {
                    padding: 25px;
                    text-align: center;

                    p {
                        color: rgb(126, 169, 183);

                        @media all and (max-width:823px) {
                            font-size: 20px;
                        }
                    }

                    h2 {
                        color: rgb(0, 156, 153);
                    }

                    img {
                        width: 100%;
                        height: 220px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
            }
        }
    }


    .third-section {
        .rd-sec-main {
            width: 100%;
            align-items: center;
            margin: auto;

            #move {
                width: fit-content;
                margin: 50px auto 0px auto;

                img {
                    width: 300px;

                    @media all and (max-width:400px) {
                        width: 95%;
                    }
                }
            }

            .cont {
                display: flex;
                margin: auto;
                width: 1250px;
                flex-wrap: wrap;
                justify-content: space-around;

                @media all and (max-width:1251px) {
                    width: 900px;
                    ;
                }

                @media all and (max-width:890px) {
                    width: 800px;
                    ;
                }

                @media all and (max-width:823px) {
                    width: 550px;
                    ;
                }

                @media all and (max-width:563px) {
                    width: 400px;
                    padding: 5px;
                }

                @media all and (max-width:400px) {
                    width: 95%;
                }

                .sp1 {
                    text-align: right;
                    width: 500px;

                    @media all and (max-width:1251px) {
                        width: 350px;
                        ;
                    }

                    @media all and (max-width:823px) {
                        width: 550px;
                        ;
                    }

                    @media all and (max-width:563px) {
                        width: 350px;
                        ;
                    }

                    p {
                        color: rgb(153, 153, 153);
                    }
                }

                .sp2 {
                    width: 500px;

                    @media all and (max-width:1251px) {
                        width: 350px;
                        ;
                    }

                    @media all and (max-width:823px) {
                        width: 550px;
                        ;
                    }

                    p {
                        color: rgb(153, 153, 153);
                    }
                }

            }

            .b {
                margin: auto;
                width: fit-content;
                margin-top: 50px;

                .btn {

                    background-color: rgb(0, 156, 153);
                    border-radius: 25px;
                    width: 240px;
                    height: 60px;
                    margin-bottom: 50px;

                  
                }
            }
        }
    }

    .forth-section {
        background-color: rgb(229, 229, 229);
        height: 600px;
        text-align: right;

        @media all and (max-width:1253px) {
            height: 700px;
        }

        @media all and (max-width:450px) {
            height: 500px;
        }

        @media all and (max-width:325px) {
            height: 400px;
        }

        .advise-text {
            left: 200px;
            top: 50px;
            position: relative;
            margin: auto;
            width: fit-content;

            @media all and (max-width:1253px) {
                left: 100px;
                width: 800px;
                height: fit-content;
            }

            @media all and (max-width:1100px) {
                text-align: left;
                left: 10px;
            }

            @media all and (max-width:820px) {
                width: 95%;
            }

            h2 {
                font-size: 50px;
                font-weight: 700;

                @media all and (max-width:450px) {
                    font-size: 40px;

                }

                @media all and (max-width:325px) {
                    font-size: 30px;

                }
            }
        }
    }


    .fifth-section {
        position: relative;
        width: 100%;
        height: 300px;
        background-color: rgb(0, 156, 153);

        .move {
            width: 500px;
            margin: auto;

            @media all and (max-width:901px) {
                width: 300px;

            }

            img {
                top: -370px;
                position: absolute;

                @media all and (max-width:1485px) {
                    width: 800px;
                }

                @media all and (max-width:1127px) {
                    width: 600px;
                    right: 100px;
                    margin: auto;
                    top: -300px;
                }

                @media all and (max-width:704px) {
                    right: 0px;
                    width: 95%;
                }

                @media all and (max-width:450px) {

                    top: -100px;
                }
            }

        }

        .cards {
            position: absolute;
            // border: 1px solid red;
            height: 700px;
            width: 750px;
            top: 150px;
            left: 280px;

            @media all and (max-width:1253px) {
                left: 150px;
            }

            @media all and (max-width:1127px) {
                left: 50px;
            }

            @media all and (max-width:824px) {
                width: 400px;

            }

            @media all and (max-width:560px) {
                width: 95%;
                left: -35px;
            }


            .first {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                @media all and (max-width:824px) {
                    width: 500px;
                    margin-left: 50px;
                }

                @media all and (max-width:602px) {
                    width: 95%;
                }

                .card {
                    border-radius: 20px;
                    height: 240px;
                    width: 350px;

                    @media all and (max-width:824px) {
                        width: 400px;
                        margin-top: 10px;
                        height: 200px;
                    }

                    @media all and (max-width:450px) {
                        height: 200px;
                    }
                    @media all and (max-width:350px) {
                        height: fit-content;
                       
                    }
                    .card-body {
                        p {
                            color: rgb(52, 52, 52);
                        }

                        h5 {
                            font-weight: 700;
                            font-size: 25px;
                        }

                        a {
                            color: rgb(52, 52, 52);
                        }
                        @media all and (max-width:450px) {
                            padding-top: 5px;
                            
                         }
                    }

                }
            }

            .second {
                margin-top: 20px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                @media all and (max-width:824px) {
                    width: 500px;
                    margin-left: 50px;
                }

                @media all and (max-width:602px) {
                    width: 95%;
                }

                .card {
                    border-radius: 20px;
                    height: 240px;
                    width: 350px;

                    @media all and (max-width:824px) {
                        width: 400px;
                        margin-top: 10px;
                        height: 200px;
                    }
                    @media all and (max-width:450px) {
                        height: 200px;
                       
                    }
                    @media all and (max-width:350px) {
                        height: fit-content;
                       
                    }

                    .card-body {
                        p {
                            color: rgb(52, 52, 52);
                        }

                        h5 {
                            font-weight: 700;
                            font-size: 25px;
                        }

                        a {
                            color: rgb(52, 52, 52);
                        }
                        @media all and (max-width:450px) {
                           padding-top: 5px;
                           
                        }
                    }

                }
            }
        }

    }

    .sec-6 {
        width: 100%;
        height: 600px;
        background-color: rgb(229, 229, 229);

        @media all and (max-width:824px) {
            height: 800px;
        }

        @media all and (max-width:485px) {
            height: 950px;
        }
        @media all and (max-width:485px) {
            height: 950px;
        }
        @media all and (max-width:255px) {
           height: 1000px;
        }

        p {
            color: rgb(52, 52, 52);
            position: relative;
            top: 420px;
            left: 280px;
            width: fit-content;

            a {
                color: rgb(52, 52, 52);

            }
        }
    }

    .sec-7 {
        background-color: white;
        width: 100%;
        height: 650px;

        @media all and (max-width:1151px) {
            height: 850px;
        }

        @media all and (max-width:702px) {
            height: fit-content;
        }

        @media all and (max-width:500px) {
            height: fit-content;
        }

        .fortext {
            width: 853px;
            margin: 80px auto 0px auto;

            @media all and (max-width:1151px) {
                width: 600px;
            }

            @media all and (max-width:640px) {
                width: 95%;
            }

            h2 {
                color: black;
                font-weight: 700;
                text-align: center;
                font-size: 35px;

            }

        }

        .foryears {
            width: 1140px;
            // border: 1px solid red;
            margin: 50px auto 0px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media all and (max-width:1151px) {
                width: 700px;
            }

            @media all and (max-width:700px) {
                width: 95%;
            }

            .content {
                margin-top: 10px;
                width: 560px;
                // border: 1px solid blue;
                height: 152px;
                padding: 10px;
                display: flex;
                justify-content: space-between;

                @media all and (max-width:1151px) {
                    width: 350px;
                    margin-top: 10px;
                    height: fit-content;
                }

                @media all and (max-width:700px) {
                    width: 100%;
                    display: block;
                }

                h2 {
                    color: rgb(0, 156, 153);
                    font-size: 30px;
                    margin: 0px 15px 0px 0px;
                }

                p {
                    color: #666666;
                    font-size: 17px;
                }
            }
        }
    }

    .sec-8 {
        width: 100%;
        height: 1100px;
        background-color: rgb(229, 229, 229);

        @media all and (max-width:1124px) {
            height: fit-content;
        }

        .im {
            width: fit-content;
            margin: 100px auto 0px auto;
            position: relative;

            @media all and (max-width:1205px) {
                width: 900px;
            }

            @media all and (max-width:1104px) {
                width: 630px;
                height: 900px;
            }

            @media all and (max-width:1124px) {
                height: 2200px;
                width: fit-content;

            }

            @media all and (max-width:1124px) {
                height: 2200px;
                width: 95%;

            }

            img {
                width: 1200px;

                @media all and (max-width:1205px) {
                    width: 1000px;

                }

                @media all and (max-width:1104px) {
                    width: 850px;

                }

            }

            .dis {
                @media all and (max-width:1104px) {
                    width: 900px;
                    position: relative;
                    left: -120px;
                    top: 50px;

                }

                @media all and (max-width:1124px) {
                    display: none;

                }
            }

            .content {
                display: flex;
                flex-wrap: wrap;
                width: 920px;
                // border: 1px solid red;
                height: fit-content;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                @media all and (max-width:1205px) {
                    width: 750px;
                }

                @media all and (max-width:1104px) {
                    width: 630px;

                }

                @media all and (max-width:1124px) {
                    width: 510px;
                    height: fit-content;
                }

                @media all and (max-width:530px) {
                    width: 410px;
                    height: fit-content;
                }

                @media all and (max-width:411px) {
                    width: 100%;
                    height: fit-content;
                }

                .in {
                    width: 305px;
                    height: 338px;

                    // border: 1px solid blue;
                    @media all and (max-width:1205px) {
                        width: 250px;
                        height: 270px;
                    }

                    @media all and (max-width:1104px) {
                        width: 210px;
                        height: 270px;
                    }

                    @media all and (max-width:1124px) {
                        width: 510px;
                        height: 338px;
                    }

                    @media all and (max-width:530px) {
                        width: 410px;
                        height: fit-content;
                    }

                    @media all and (max-width:411px) {
                        width: 100%;
                        height: fit-content;
                    }

                    img {
                        width: 100%;
                        height: 100%;

                        @media all and (max-width:1124px) {
                            height: 200%;
                        }
                    }

                }

                .k {
                    background-color: white;
                    padding: 35px;

                    p {
                        margin-top: 30px;
                        color: #666666;
                    }

                    a {
                        color: #666666;
                        margin-top: 25px;
                    }
                }
            }
        }
    }


    .sec-9 {
        width: 100%;
        height: 700px;
        background-color: white;

        @media all and (max-width:1165px) {
            height: fit-content;
        }

        .content {
            width: 100%;
            height: fit-content;
            // border: 1px solid red;
            margin: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .img-left {
                width: 580px;
                height: 600px;
                // border: 1px solid blue;
                margin-top: 50px;

                @media all and (max-width:800px) {
                    height: fit-content;
                }

                img {
                    width: 580px;

                    @media all and (max-width:1160px) {
                        width: 690px;

                    }

                    @media all and (max-width:800px) {
                        width: 95%;
                    }
                }

                p {
                    color: #666666;

                    @media all and (max-width:1160px) {
                        display: none;

                    }

                    a {
                        color: #666666;
                    }
                }
            }

            .con-right {
                width: 580px;
                height: 600px;
                // border: 1px solid blue;
                margin-top: 50px;
                display: flex;
                flex-wrap: wrap;

                @media all and (max-width:1160px) {
                    width: 90%;
                    margin-top: 100px;
                }
                @media all and (max-width:1160px) {
                    height: fit-content;
                }

                .ics {
                    height: 33.3%;
                    width: 100%;
                    // border: 1px solid red;
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;

                    @media all and (max-width:1160px) {
                        justify-content: center;

                    }

                    @media all and (max-width:800px) {
                        height: fit-content;
                    }
                    @media all and (max-width:600px) {
                        display: block;
                    }

                    .ll {
                        background-color: rgb(0, 156, 153);
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        align-items: center;

                        @media all and (max-width:1160px) {
                            margin-right: 20px;
                            margin-bottom: 10px;
                        }

                        #a {
                            margin: 15px auto 0px 15px;
                            color: white;
                        }

                        i {
                            color: white;
                            margin: 18px auto 0px 13px;
                        }
                    }

                    .tex {
                        h4 {
                            font-weight: 700;
                        }

                        width: 440px;

                        @media all and (max-width:1160px) {
                            width: 80%;

                        }

                        p {
                            color: #666666;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }




    //   maiin tag end bolo
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// footer
footer {

    .sec-10 {
        width: 100%;
        background-color: rgb(229, 229, 229);
        height: 600px;
        padding: 50px;

        @media all and (max-width:1165px) {
            height: fit-content;
        }
        @media all and (max-width: 600px) {
            padding: 5px;
        }

        .main {
            width: 1340px;
            margin: auto;
            // border: 1px solid red;
            height: fit-content;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @media all and (max-width: 1404px) {
                width: fit-content;
            }
            @media all and (max-width: 900px) {
                width: 400px;
                margin: 0px;
                width: 100%;
            }

            .left {
                // border: 1px solid blue;
                width: 630px;
                height: 480px;

                @media all and (max-width: 1404px) {
                    width: 500px;
                }

                @media all and (max-width: 1100px) {
                    width: 400px;
                }
                @media all and (max-width: 900px) {
                    width:100%;
                } 
                @media all and (max-width: 600px) {
                    height: fit-content;
                }

                .lo {
                    padding: 30px;
                    @media all and (max-width:900px ) {
                        padding: 10px;
                     }
                    h2 {
                        color: #666666;
                    }

                    p {

                        color: #666666;
                        font-size: 20px;
                        padding-top: 20px;
                    }
                }

                .fol {
                    padding: 30px;
                    @media all and (max-width: 900px) {
                        padding: 10px;
                     }
                    h2 {
                        color: #666666;
                    }

                    p {
                        color: #666666;
                        font-size: 25px;
                        @media all and (max-width: 1100px) {
                           font-size: 20px;
                        }
                    }

                    .fo-ic {
                        a {
                            text-decoration: none;

                            i {
                                margin: 10px 0px 0px 10px;
                                color: black;

                            }
                        }

                    }
                }
            }

            .right {
                // border: 1px solid blue;
                width: 630px;
                height: 480px;
                padding: 30px;

                @media all and (max-width: 1404px) {
                    width: 500px;
                }
                @media all and (max-width: 1100px) {
                    width: 400px;
                }
                @media all and (max-width: 900px) {
                    width:100%;
                }
                @media all and (max-width: 600px) {
                    padding: 0px;
                }
                h2 {
                    color: #666666;
                }

                form {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;

                    input {
                        width: 100%;
                        padding: 7px;
                        color: #666666;
                        border-radius: 15px;
                        background-color: white;
                        border: none;
                        outline: none;
                        margin-top: 15px;
                    }

                    #last {
                        height: 150px;
                        padding-bottom: 10px;
                    }

                    .btn {
                        width: 100%;
                        background-color: rgb(0, 156, 153);
                        border-radius: 20px;
                        margin-top: 15px;
                    }
                }

            }
        }
    }

    .sec-11 {
        width: 100%;
        height: 300px;
        background-color: rgb(51, 51, 51);
        @media all and (max-width: 455px) {
           width: fit-content;
          height: 400px;
        }
        .last-one {
            height: 150px;
            width: 450px;
            margin: 0px auto 0px auto;
            padding: 30px;
            
            @media all and (max-width: 455px) {
                width:95%;
            }
            p {
                color: white;
                text-align: center;

            }

            .m {
                margin-top: 100px;

                p {
                    a {
                        color: rgb(158, 183, 201);
                    }
                }
            }
        }
    }

    // footer
}